<style>
  .skus {
    width: 490px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
  }
  .cardsku{
    margin-top:5px;
  }
</style>

<div class="container">
  <div class="details-wrapper sec-padding">
    <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="80">
      <div fxLayout="row wrap" fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">
        <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="45">
          <mat-card class="product-image">
            <!--display main item image-->
            <div *ngIf="url == comparemainurl">
              <img src="{{ itemDetails.imageURL }}" />
            </div>

            <!--display image of skuid-->
            <div *ngIf="url == compareskuurl">
              <img src= "{{ singleSkuInfo[1] }}" />
            </div>
          </mat-card>
          <div class="skus">
            <div *ngFor="let image of itemSKUDetails; let i=index">
              <button mat-button (click)="selectSKU(image)" class="cardsku">
                <img src="{{ image.imageURL }}" style="width:80px; height:75px; border: 2px solid #808080" />
              </button>
            </div>
          </div>

        </div>
          <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="55" ngClass.gt-sm="px-3 m-0" ngClass.sm="mt-2" ngClass.xs="mt-2">
            <div class="product-right">
              <div class="product-details">
                <h2>{{itemDetails.item.itemName}}</h2>
                <h3 *ngIf="url == comparemainurl">Price: {{itemDetails.item.mainPrice}}$</h3>
                <h3 *ngIf="url == compareskuurl">Price: {{ singleSkuInfo[3] }} $</h3>
                <p>Shipping Cost: {{itemDetails.item.shippingCost}}$</p>
                <p>Product Rating:
                  <span *ngFor="let r of itemRateArray" style="color:gold;">
                    <mat-icon *ngIf="r==0">star_border</mat-icon>
                    <mat-icon *ngIf="r==1">star_half</mat-icon>
                    <mat-icon *ngIf="r==2">star</mat-icon>
                  </span>
                </p>
                <p class="text-muted description">{{itemDetails.item.companyName}}</p>
              </div>
              <div class="py-1 mt-15">
                <div>
                  <span class="text-muted fw-500">Avalibility: </span>
                  <div *ngIf="url == comparemainurl" style="display:inline;">
                    <span class="avalibility" *ngIf="counter <= itemSKUDetails[0].sku.quantity"><span style="color:green;">In Stock</span></span>
                    <span class="avalibility" *ngIf="counter > itemSKUDetails[0].sku.quantity"><span class="red">Out of Stock</span></span>
                  </div>
                  <div *ngIf="url == compareskuurl" style="display:inline;">
                    <span class="avalibility" *ngIf="counter <= singleSkuInfo[2]"><span style="color:green;">In Stock</span></span>
                    <span class="avalibility" *ngIf="counter > singleSkuInfo[2]"><span class="red">Out of Stock</span></span>
                  </div>
                  
                </div>
              </div>
              <div class="quantity">
                <span class="text-muted fw-500">Quantity</span>
                <div fxLayout="row" fxLayout.xs="column" class="text-muted">
                  <div fxLayout="row" fxLayoutAlign="center start">
                    <button mat-icon-button matTooltip="Remove" (click)="decrement()">
                      <mat-icon>remove</mat-icon>
                    </button>
                    <input type="text" name="quantity" value="{{counter}}" class="form-control input-number" readonly>
                    <button mat-icon-button matTooltip="Add" (click)="increment()">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <div *ngFor="let type of alltypes; let i=index;" style="display: inline; margin-top:15px;">
                <h4>
                  {{type}} :
                  <span *ngFor="let value of allvalues[i]">
                    <label>
                      <input type="checkbox" value="value.charValue" class="custom-input" (change)="onChange(type, value, $event.target.checked)" />
                      {{value.charValue}}
                    </label>
                  </span>
                </h4>
              </div>
              <div class="buttons mt-20">
                <button mat-raised-button color="primary" class="btn-project mr-10" (click)="addToBasket()">ADD TO BASKET</button>
              </div>
            </div>
          </div>
        </div>

      <div class="review-wrapper" fxFlex="100" fxFlex.md="75">
        <mat-card>
          <mat-tab-group [@.disabled]="true" [selectedIndex]="0">
            <mat-tab label="Description">
              <div class="full-desc lh">
                <p class="text-muted">{{ itemDetails.item.itemDescription }}</p>
              </div>
            </mat-tab>
            <mat-tab label="Reviews">
              <div class="writte-reviews mt-40">
                <h3 class="mt-2">LEAVE YOUR FEEDBACK</h3>
                <div class="divider"></div>
                <h3 fxLayoutAlign="start center" class="mt-2">
                  <span>Your Rating:</span>
                  <button mat-icon-button *ngFor="let icon of ratingStickers; let i=index" (click)="giveRate(i+1)" matTooltipPosition="above">
                      <mat-icon class="mat-icon-lg" [id]="'rate_'+i" >{{ icon }}</mat-icon>
                    </button>
                </h3>
                <form fxLayout="row wrap" [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
                  <div fxFlex="100" fxFlex.gt-sm="100" class="mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
                    <mat-form-field class="w-100">
                      <textarea placeholder="Your Feedback..." formControlName="feedbackContent" matInput rows="6" ngModel name="content" required></textarea>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <input type="file" #file placeholder="Upload Image" #image (change)="uploadFile(file.files)" accept="image/*" (click)="$event.target.value=null" style="display:none;">
                    <button type="button" class="btn btn-success" (click)="file.click()">Upload Image</button>
                  </div>
                  <div class="col-md-4" style="color:green;">
                    <span class="upload" *ngIf="imageprogress > 0">
                      {{imageprogress}}%
                    </span>
                    <span class="upload" *ngIf="imagemessage">
                      {{imagemessage}}
                    </span>
                  </div>
                  <div class="col-md-4" *ngIf="errorupload" style="color:red;">
                    <span class="upload">
                      {{imagemessage}}
                    </span>
                  </div>
                  <img [src]="imageurl" *ngIf="imageurl" style="width:190px; height:200px;">
                  <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" ngClass.sm="mt-1" ngClass.xs="mt-1" style="margin-top:10px;">
                    <button class="btn-project" mat-raised-button color="primary" type="submit">Submit Feedback</button>
                  </div>
                </form>
              </div>
              <!--display feedbacks-->
              <div class="full-desc lh">
                <mat-list class="reviews">
                  <mat-list-item class="content" *ngFor="let feedback of allFeedbacks">
                    <!--user's image-->
                    <img matListAvatar [src]="'assets/images/avatars/avatar-3.png'" alt="image" class="review-author">
                    <p matLine fxLayoutAlign="start center">
                      <span class="name"> {{ feedback.userName }} </span>
                    </p>
                    <p matLine class="text-muted"><small>{{ feedback.feedback.updatedOn | slice : 0 : 10  }}</small></p>
                    <p matLine class="text"> {{ feedback.feedback.feedbackContent }}</p>
                    <p matLine *ngIf="feedback.imageURL != ''"><img src="{{ feedback.imageURL }}" style="width:200px;height:200px;" /></p>
                    <button mat-flat-button color="warn" *ngIf="userID == feedback.feedback.userID" (click)="deleteFeedback(feedback)">Delete Feedback</button>
                  </mat-list-item>
                </mat-list>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>
  </div>
</div>
</div>
