<style>
  .contain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 13px;
  }
  .content-container {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-item {
    padding-left: 20px;
    margin-top: 20px;
  }

  mat-card {
    width: 210px;
    height: 295px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
  }

 </style>

<div fxLayout="column" fxLayoutAlign="space-around center" style="margin-top:200px;" *ngIf="allitems.length==0">
  <mat-chip-list>
    <mat-chip color="warn" selected="true">YOU HAVE NO ITEMS IN YOUR INVENTORY.</mat-chip>
  </mat-chip-list>
  <div>
    <a [routerLink]="['/pages/add-item']" routerLinkActive="router-link-active" mat-raised-button color="primary" class="btn-project mt-20">Add Item</a>
  </div>
</div>

<div class="content-container">
  <div *ngIf="allitems.length>0">
    <div class="contain">
    <div class="product-item" *ngFor="let item of allitems">
      <mat-card fxLayout="column">
    <div class="product-img">
      <a class="product-link" [routerLink]="['/home/product', item.itemID]">
        <img src="{{ item.imageURL }}" style="width:200px; height:200px;" alt="">
      </a>
    </div>
    <div class="product-info-wrapper" style="margin-top:10px;">
      <div class="price-wrap" fxLayout="row" fxLayoutAlign="space-between center" style="margin-top:5px;">
        <h4>$ {{item.item.mainPrice}}</h4>
      </div>
      <div class="title-wrap" style="margin-top:10px;">
        <h4>{{item.item.itemName}}</h4>
      </div>
    </div>
  </mat-card>
    </div>
      </div>
    </div>
</div>

