<style>
  .contain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 13px;
  }

  .product-item {
    padding-left: 15px;
    margin-top: 20px;
  }

  mat-card {
    width: 210px;
    height: 295px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
  }

</style>
<app-main></app-main>
<div class="carousel-2">
  <div class="container ctn-box">
    <div class="" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
      <div class="slider-categories" fxFlex="100" fxFlex.gt-md="25" fxFlex.md="40">
        <div class="categories-wrap">
          <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ 'border-radius': '0', height: '461px'  }" count="1"></ngx-skeleton-loader>
          <div *ngIf="contentLoaded" class="title"> TOP CATEGORIES</div>
          <app-categories *ngIf="contentLoaded"></app-categories>
        </div>
      </div>
      <div class="carousel-2-wrapper" fxLayout.sm="column" fxFlex="60" fxFlex.gt-md="75" fxFlex.md="60" fxFlex.sm="60">
        <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ 'border-radius': '0', height: '461px'  }" count="1"></ngx-skeleton-loader>
        <app-main-carousel *ngIf="contentLoaded"></app-main-carousel>
      </div>
    </div>
  </div>
</div>

<div class="home-2-wrap">
  <div class="info-bar2-wrap">
    <div class="contain">
      <div class="product-item" *ngFor="let item of allitems">
        <mat-card fxLayout="column">
          <div class="product-img">
            <a class="product-link" [routerLink]="['/home/product/product-details', item.item.itemID]">
              <img src="{{ item.imageURL }}" style="width:200px; height:190px;" alt="" />
            </a>
            <div class="icons" fxLayout="row" style="float: right;">
              <button mat-flat-button (click)="addToWishlist(item)" class="hvr-icon-pulse-shrink" title="Add to wishlist"><mat-icon class="hvr-icon mat-icon-lg mat-icon material-icons mr-10">favorite_border</mat-icon></button>
            </div>
          </div>
          <div class="product-info-wrapper">
            <div class="price-wrap" fxLayout="row" fxLayoutAlign="space-between center">
              <h4>{{item.item.mainPrice | currency:productsService?.currency:'symbol'}}</h4>
            </div>
            <div class="title-wrap" style="margin-top:5px;">
              <h4>{{item.item.itemName}}</h4>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  </div>
