<app-product-left-sidebar></app-product-left-sidebar>

<style>

  .content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 13px;
  }

  .product-item {
    padding-left: 15px;
    margin-top: 20px;
  }


  mat-card {
    width: 210px;
    height: 295px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
  }
</style>




<div class="content-container">
  <div class="contain">
    <div class="product-item" *ngFor="let subcatitems of allsubcategoryitems">
      <mat-card fxLayout="column">
        <div class="product-img">
          <a class="product-link" [routerLink]="['/home/product/product-details', subcatitems.item.itemID]">
            <img src="{{ subcatitems.imageURL }}" style="width:200px; height:190px;" alt="">
          </a>
          <div class="icons" fxLayout="row" style="float:right;">
            <button mat-flat-button (click)="addToWishlist(subcatitems)" class="hvr-icon-pulse-shrink" title="Add to wishlist"><mat-icon class="hvr-icon mat-icon-lg mat-icon material-icons mr-10">favorite_border</mat-icon></button>
          </div>
        </div>
        <div class="product-info-wrapper">
          <div class="price-wrap" fxLayout="row" fxLayoutAlign="space-between center">
            <h4>{{subcatitems.item.mainPrice | currency:productsService?.currency:'symbol'}}</h4>
          </div>
          <div class="title-wrap" style="margin-top:5px;">
            <h4>{{subcatitems.item.itemName}}</h4>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

