<style>
  .kuro {
    background: linear-gradient(#000000, #0026ff);
  }
</style>

<div class="home-header">
  <mat-toolbar color="primary" class="kuro" >
    <mat-toolbar-row class="container" fxLayout="column" fxLayout.gt-sm="row"   fxLayoutGap="20px" fxlayoutalign="space-between center">
      <div class="logo">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" ><img src="assets/images/logo-ecommerce-white.png" width="250" height="50"></a>
      </div>
      <div  fxflexoffset.gt-sm="10"  fxFlex class="search-form">
        <form class="search-form" fxLayout="row" [formGroup]="SearchForm" (ngSubmit)="onSubmit()">
          <div class="form-wrap">
            <input type="text" formControlName="KeyWord" placeholder="Type to search...">
            <button class="btn-search" type="submit">Search</button>
          </div>
        </form>
      </div>
      <div class="call-bucket-wrap" fxLayout="row" fxLayout.sm="row" fxLayoutAlign="center center" >
        <div class="info-message-icon"  fxLayout="row" fxLayoutAlign="center center">
        </div>
        <div class="main-menu-wrapper-2" fxLayout="row" fxLayoutAlign="space-between center" >
          <mat-toolbar class="top-navbar top menu">
          </mat-toolbar>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>


