<style>
 
  .sidebar-container {
    margin-left: 10px;
    height: auto;
    width: 340px;
    left: 0;
    overflow-x: hidden;
    float: left;
    position: relative;
  }

  .left-sidebar-wrapper{
    margin-top: 20px;
  }
</style>


<div id="content" class="container p-0">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxHide.lt-md="false" class="filter-row mat-elevation-z1 text-muted" style="margin-top:10px;padding-left:35px;">
    <mat-form-field appearance="legacy">
      <mat-label>Search product</mat-label>
      <input matInput placeholder="">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button *ngIf="!sidenavOpen" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <div>
      <select (change)="onChangeSorting($event.target.value)">
        <option value="asc">Sorting items</option>
        <option value="asc">Ascending Order</option>
        <option value="desc">Descending Order</option>
        <option value="a-z">Alphabetically, A-Z</option>
        <option value="z-a">Alphabetically, Z-A</option>
        <option value="low">Price, low to high</option>
        <option value="high">Price, high to low</option>
      </select>
    </div>
    <div>
      <button mat-icon-button (click)="changeViewType('list', 100)">
        <mat-icon>view_list</mat-icon>
      </button>
      <button mat-icon-button (click)="changeViewType('list', 33.3)">
        <mat-icon>view_module</mat-icon>
      </button>
      <button mat-icon-button (click)="changeViewType('list', 25)">
        <mat-icon>view_comfy</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="sidebar-container">
  <div class="left-sidebar-wrapper">
  <div class="container">
  <div class="sidebar-wrapper" fxLayout='row' fxLayout.lt-md="column">
    <div fxFlex="100" fxFlex.lt-sm="100" class="filter-sidenav" perfectScrollbar>
      <div class="toggles-wrapper" fxLayout="column" fxLayout.lt-md="column">
        <div class="toggles" fxFlex.lt-md="100">
          <!--Categories SubCategories accordion starts-->
  <mat-accordion multi="false">
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>Top Categories</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion multi="false">
        <mat-expansion-panel class="mat-elevation-z0" *ngFor="let category of allcategories; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <button mat-button (click)="onClick(category)">{{category.category_nameEN}}</button>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul *ngFor="let s of allsubcategories[i]">
            <li>
              <button mat-button (click)="onSelect(category, s)">{{s.subCategory_NameEN}}</button>
            </li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
    <!--Categories SubCategories accordion ends-->
  </mat-accordion>
</div>
      </div>
    </div>
   </div>
  </div>
  </div>
</div>
<router-outlet></router-outlet>

